// Fonts

@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
// Reset

* {
  margin: 0;
  padding: 0;
  /*   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

// Variables
$url: url("../img/snowyDay.jpg");
$borderWidth: 3rem; // border-width
$blur: blur(5px);
$rect: inset(0);
$fontNumbers: "PT+Serif", sans-serif;
$fontText: "Roboto", sans-serif;
$fontExtra: "Baskervville", sans-serif;

// Styles
body {
  overflow-x: hidden;
  // background-image: $url;
  background-size: cover;
  border: solid $borderWidth rgba(#000, 0.03);

  &::before {
    position: absolute;
    z-index: -1;
    top: -$borderWidth;
    right: -$borderWidth;
    bottom: -$borderWidth;
    left: -$borderWidth;
    border: inherit;
    border-color: transparent;
    background: inherit;
    background-clip: border-box;
    -webkit-filter: $blur;
    filter: $blur;
    -webkit-clip-path: $rect;
    clip-path: $rect;
    content: "";
  }

  main {
    & #container {
        // background-image: $url;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
        border: 0.4rem solid #b1bbd6;
        border-radius: 0.2rem 0.4rem 0.4rem 0.8rem;
      & #container2 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "left rigth";
        .rigthSide {
          display: grid;
          grid-area: rigth;
          backdrop-filter: blur(10px);
          width: 97%;
          gap: 2rem;

          & #h1 {
            font-family: $fontText;
            font-size: 2rem;
            font-weight: 400;
          }

          h2,
          h3 {
            font-family: $fontText;
          }

          /* Inputs styles  */
          & .inputsSearchButton {
            display: flex;
            justify-content: space-around;
            padding: 1rem;
            gap: 1rem;

            input[type="text"] {
              font-size: 1rem;
              padding: 0.5rem 1rem;
              border-radius: 0.3rem;
              font-family: $fontText;
            }

            & .autocomplete-container {
              position: relative;
              width: 12rem;

              i {
                position: absolute;
                top: 15%;
                transform: translateY(-50%);
                right: 0.2rem;
              }

              & #cityInput {
                width: 12rem;
                min-height: 2.2rem;
                padding: 0 0.625rem;
                box-sizing: border-box;
                border: 1px solid;
                outline: none;
                border-radius: 4px;
                background-color: transparent;

                &::placeholder {
                  font-family: $fontText;
                  color: black;
                }
              }

              & .suggestions-list {
                position: absolute;
                width: 100%;
                border: 1px solid;
                border-top: none;
                max-height: 8rem;
                overflow-y: auto;
                background-color: #b1bbd6;
                border-radius: 0 0 4px 4px;
                list-style-type: none;
                padding: 0;
                margin: 0;
                z-index: 1000;
                font-family: $fontText;

                li {
                  padding: 0.625rem;
                  cursor: pointer;
                }

                li:hover {
                  border: 1px solid #6f8ebb;
                }
              }
            }
            .dropdown {
              width: 10rem;
              position: relative;

              & select {
                background-color: transparent;
                font-family: $fontText;
                appearance: none;
                -webkit-appearance: none;
                width: 100%;
                min-height: 2rem;
                font-size: 1rem;
                padding: 0.5rem 1rem;
                border: 1px solid;
                border-radius: 0.3rem;
                outline: none;
                cursor: pointer;
              }

              .dropdown::after {
                content: "\25BC";
                font-size: 0.75rem;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                pointer-events: none;
              }
            }
          }

          /* End of inputs styles */

          & .currenWeatherBox {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 0.5rem;
            padding-right: 1.5rem;
            & .temperature {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 0.5rem;
              & .cityName {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4rem;
                & .img {
                  width: 1rem;
                  height: 1rem;
                  cursor: pointer;
                }
              }
              & #degreesCelsius {
                font-family: $fontNumbers;
                font-size: 4rem;
              }
            }
            & .precipitation {
              p {
                font-family: $fontText;
                font-size: 1rem;
                padding-bottom: 1rem;
              }
            }
          }
          & #hr {
            border: 0.01rem solid #b1bbd6;
            width: 75%;
            margin: 0 auto;
          }

          /* Daily Forescast Section*/
          .dailyForescast {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;

            #h1 {
              font-family: $fontText;
              font-size: 1.5rem;
              text-align: end;
              margin: 0.6rem 1rem;
            }
          }
          .dailyForecastCard {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            padding-bottom: 1rem;
            padding-left: 2rem;

            .dailyCard {
              gap: 2rem;
              display: flex;
              flex-direction: row;
              width: 70%;
              justify-content: center;
              align-items: center;
              text-align: center;
              padding-right: 1rem;
              cursor: pointer;

              & .text {
                width: 100%;
                font-family: $fontText;

                h3 {
                  font-size: 1rem;
                  font-weight: 400;
                }

                h4 {
                  font-size: 0.8rem;
                  font-weight: 300;
                }
              }

              img {
                /* width: 50px;
                height: 50px;
                margin: 20px 0; */
                /* width: 40px;
                height: 40px;
                margin: 20px 20px;
                border: 1px solid black;
                border-radius: 5px; */
                width: 2rem;
                height: 2rem;
              }

              p {
                font-size: 15px;
                margin: 0;
              }

              .maxAndMinTemperature {
                display: flex;
                flex-direction: column;
                /* justify-content: space-evenly;
                align-items: center; */
                margin-right: 1rem;
                /* width: 100%;
                padding: 0; */

                p {
                  /* font-size: 20px;
                  margin: 0;
                  text-align: end; */
                  width: 2rem;
                  font-family: $fontNumbers;
                  font-size: 0.8rem;
                  text-align: end;
                }
              }
            }
          }
        }
      }

      /* 3 Hour Range */
      .leftSide {
        display: grid;
        grid-area: left;
        align-items: end;
        /* grid-column: 1/3; */

        & .time {
          font-family: $fontText;
          padding: 0 1rem;

          & #currentTime {
            padding-bottom: 2rem;
          }

          & .description {
            p {
              font-size: 3rem;
            }
          }
        }

        .threeHourRange {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          h1 {
            font-family: $fontText;
            font-size: 2rem;
            padding-left: 1rem;
          }

          .hourRange {
            display: flex;
            gap: 1rem;
            flex-direction: row;
            justify-content: start;
            padding: 0rem 0rem 1rem 1rem;

            .Third {
              display: flex;
              flex-direction: column;
              width: 5rem;
              height: 7rem;
              justify-content: space-between;
              align-items: center;
            }
          }

          & .dayImage {
            width: calc(100% - 2rem);
          }

          & span {
            order: 1;
          }

          & p {
            order: -1;
          }
        }
      }
    }
  }
}

// Responsive Styles

// Mobile
@media only screen and (max-width: 480px) {
  body {
    border: solid 2rem rgba(0, 0, 0, 0.03);
    color: #000 !important;

    main {
      padding: 0 !important;

      #container2 {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr !important;
        grid-template-areas:
          "up"
          "down" !important;

        & .rigthSide {
          backdrop-filter: blur(0) !important;
          display: flex !important;
          flex-direction: column !important;
          grid-area: up !important;
          width: 100% !important;

          & .currenWeatherBox {
            padding-right: 0 !important;
          }

          & .cityName {
            gap: 0.5rem !important;
          }
        }

        & .leftSide {
          display: flex !important;
          flex-direction: column !important;
          justify-content: center !important;
          align-items: center !important;
          grid-area: down !important; 

          & .threeHourRange {
            display: flex !important;
            flex-direction: column;
            width: 100% !important;

            & .hourRange {
              display: flex !important;
              flex-direction: row !important;
              flex-wrap: wrap !important;
            }
          }

          & #H1{
            display: flex !important;;
            justify-content: center !important;
          }
        }
      }
    }
  }
}

/*
@media only screen and (max-width: 480px) {
  main {
    padding: 1rem;

    h1 {
      display: none;
    }

    & .currenWeatherBox {
      padding: 1rem 0rem;
      gap: 1rem;

      .temperature {
        display: flex;
        flex-direction: row;

        & .nameCity {
          padding-bottom: 0rem;
          display: flex;
          justify-content: space-between;
          gap: 1rem;

          & .Celsius {
            display: flex;
          }

          & .img {
            left: 3vw;
          }
        }

        & .celsius {
          display: none;
        }
      }

      & .weatherInfo {
        width: 70vw;
        height: 5rem;
      }
    }

    & .hourRange {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & .Third {
        width: 80vw;
        height: 3rem;
      }
    }

    .dailyForescast {
      width: 100%;
      margin: 40px 0;

      h1 {
        display: none;
      }

      .dailyForecastCard {
        width: 100%;
        justify-content: space-between;

        .dailyCard {
          width: 67PX;

          h3 {
            font-size: 10px;
          }

          p {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  main {
    padding: 1.5rem;

    & .hourRange {
      width: 90vw;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & .Third {
        width: 80vw;
        height: 3rem;
      }
    }

    .dailyForescast {
      margin: 0;
      width: 100%;
      margin: 40px 0;

      h1 {
        display: none;
      }

      .dailyForecastCard {
        width: 100%;
        margin: 0;
        justify-content: space-between;

        .dailyCard {
          width: 100px;

          h3 {
            font-size: 18px;
          }

          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}*/

.star-icon.selected {
  filter: brightness(0) saturate(100%) invert(78%) sepia(10%) saturate(5000%)
    hue-rotate(350deg) brightness(104%) contrast(102%);
}
